.box {
    background-color: coral;
    padding: 50px;
}

/* .mainContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
  } */

  .recime {
    height: 15vh;
    font-size: 65px;
    color: chocolate;
    font-family: cursive;
    padding: 30px;
  }

  .discovery {
    font-size: 20px;
    color: dimgray;
  }

  .options {
    height: 100vh;
  }

  .spacing {
    padding: 50px;
  }

  .animated-image {
    animation: slideRight 7s linear infinite; /* Example animation: slide from left to right for 2 seconds infinitely */
  }
  
  @keyframes slideRight {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }
  .ani-image {
    animation: slideLeft 7s linear infinite; /* Example animation: slide from right to left for 2 seconds infinitely */
  }
  
  @keyframes slideLeft {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }